@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&display=swap');

:root {
  --main-color50: #1c202b;
  --main-color40: #405275;
  --main-color30: #637eb4;
  --main-color20: #7bb0ff;
  --main-color10: #cedeff;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
  letter-spacing: .2px;
}

body {
  background: var(--main-color50);
}

/* Header CSS */
header {
  position: fixed;
  width: 100%;
}

.underline-top {
  background-color: #1c202b;
  width: 12rem;
  height: 2px;
  border-radius: 5px;
  position: absolute;
  left: 12.7rem;
  top: 3.5rem;
}
.underline-top span {
  background-color: var(--main-color10);
  width: 12px;
  height: .1rem;
  position: absolute;
  top: 0;
  border-radius: 5px;
  box-shadow: 2px 4px 14px hsla(0, 0%, 14%, .75);
}
.underline-top span {
  animation: moving-top 4s ease-in-out infinite;
}

@keyframes moving-top {
  0% {
    left: 0%;
  }
  50% {
    left: 93%;
  }
  100% {
    left: 0%;
  }
}

/* Nav CSS */

nav {
  height: 6rem;
}
nav img {
  width: 100px;
  border-right: 2px var(--main-color50) solid;
}
nav ul {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
nav a {
  color: var(--main-color10);
  transition: color .2s;
}
nav a:hover {
  color: var(--main-color20);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.header__search  {
  display: flex;
  background-color: var(--main-color50);
  box-shadow: 2px 4px 14px hsla(0, 0%, 14%, .5);
  border-radius: 4px;
  transition: scale .08s;
}
.header__search:hover {
  scale: 1.03;
}
.header__search input {
  all: unset;
  color: var(--main-color10);
  font-size: 14px;
  padding: .3rem;
  padding-left: .6rem;
  width: 100%;
}
.header__search button {
  background-color: var(--main-color20);
  border: none;
  border-radius: 0 4px 4px 0;
  padding: .5rem;
  height: 100%;
  cursor: pointer;
  transition: opacity .2s;
}
.header__search button:hover {
  opacity: 0.8;
}
.header__search button:active {
  opacity: 0.4;
}

#header-nav {
  background-color: var(--main-color40);
  border-radius: 0 0 2% 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

/* Main CSS */

.main-section {
  height: 100vw;
}

/* Footer CSS */

footer {
  position: absolute;
  bottom: 1;
  width: 100%;

}

.footer__contacts p {
  margin-bottom: .6rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cedeff;
  font-size: 14px;
  border: none;
  border-radius: 50%;
  padding: .5rem;
}
.footer__social a:hover {
  animation: rotate .3s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#instagram {
  background-image: linear-gradient(purple, tomato, orange);
}
#whatsapp {
  background-color: rgb(92, 173, 92);
}
#twitter {
  background-color: #799de6;
}

#footer__content {
  background-color: var(--main-color40);
  border: none;
  border-radius: 2% 2% 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  padding: 3.5rem 3rem;
}
#footer__content h3 {
  color: var(--main-color50);
  margin-bottom: .75rem;
}

.footer__links a {
  color: var(--main-color10);
  line-height: 1.6rem;
  transition: color .15s;
}
.footer__links a:hover {
  font-size: 17px;
  color: var(--main-color20);
}

#sub-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sub__email {
  display: flex;
  background-color: var(--main-color50);
  box-shadow: 6px 12px 14px hsla(0, 0%, 14%, 0.35);
  border-radius: 4px;
}
.sub__email input {
  all: unset;
  color: var(--main-color10);
  font-size: 14px;
  padding: .75rem;
  width: 100%;
}
.sub__email i {
  scale: 1.5;
}
.sub__email button {
  color: var(--main-color50);
  background-color: var(--main-color20);
  border: none;
  padding: 0 1rem;
  height: 100%;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: opacity .1s;
  /* z-index: 1; */
}
.sub__email button:hover {
  opacity: 0.8;
}
.sub__email button:active {
  opacity: 0.4;
}

.copyright-area {
  background-color: var(--main-color10);
  display: flex;
  justify-content: center;
  padding: .60rem;
}

/* Underline Animation */
.underline {
  background-color: var(--main-color50);
  width: 35%;
  height: 5px;
  border-radius: 5px;
}
.underline span {
  background-color: var(--main-color10);
  width: 12px;
  height: .28rem;
  position: absolute;
  top: 4.7rem;
  border-radius: 3px;
  box-shadow: 2px 4px 14px hsla(0, 0%, 14%, .75);
}
.underline span {
  animation: moving 4s ease-in-out infinite;
}

@keyframes moving {
  0% {
    left: 77%;
  }
  50% {
    left: 83%;
  }
  100% {
    left: 77%;
  }
}
